/****** IGNORE#e2e1e0 ******/

body {
	
	background: #eee;
}


/****** CODE ******/

.file-upload {
	    /* width: 500px; */
		display: inline-block;
		text-align: center;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 12px;
		/* position: relative; */
}

.file-upload .file-select {
	display: inline-block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    /* overflow: hidden; */
    /* position: relative; */
}

.file-select-button,.file-upload-button {
	background: #dce4ec;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.file-upload-button{
    padding: 0;
}
.file-upload .file-select .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
}

.file-select-button:hover {
	background: #34495e;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
	border-color: #3fa46a;
	transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
	background: #3fa46a;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
	
	cursor: pointer;
	/* position: absolute; */
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
	opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
	cursor: default;
	display: block;
	border: 2px solid #dce4ec;
	color: #34495e;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	text-align: left;
	background: #FFFFFF;
	overflow: hidden;
	/* position: relative; */
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
	background: #dce4ec;
	color: #666666;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
}
.file-upload-button{
      cursor: pointer;
    width: 50px;
  
    /* float: right; */
    /* position: absolute;
    top: 2px;
    right: -65px; */
}
.file-form {
    /* position: relative; */
}
i.fa.fa-refresh {
    z-index: 5;
    color: #3F51B5;
    /* height: 42px; */
    /* position: absolute; */
    cursor: pointer;
    /* top: 10px; */
    /* left: -40px; */
    font-size: 25px;
    padding: 20px;
}
i.fa.fa-refresh:hover{
    color: #E8EAF6;
}